.cardProducto {
  max-width: 300px;
  margin: 20px auto; /* Añadido para centrar horizontalmente */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.cardProducto:hover {
  transform: scale(1.05);
}

.cardProducto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cardProducto h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cardProducto p {
  margin: 5px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}
